
@mixin button-styles($bg-color) {
    background: $bg-color;
    color: $white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: darken($bg-color, 10%);
    }
}
