

$primary-color: #003366; 
$secondary-color: #DAA520; 
$accent-color: #009688; 
$text-color: #333333; 
$background-color: #F9F9F9; 
$background-gradient: linear-gradient(to bottom right, #A3C4E0, #E1D3F2);
$font-stack: 'Roboto', sans-serif;
$white: #ffffff; 
$button-color: #009688; 
$accordion-bg-color: #e7f1ff; 
$accordion-text-color: #007bff; 



:root {
    --primary-color: #003366; 
    --secondary-color: #DAA520; 
    --accent-color: #009688; 
    --text-color: #333333; 
}
